*{
    margin: 0;
}
.menu {

    background-color:brown;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;

}

a{

    text-decoration: none;
    color: black;

}

main {

    flex:100vh;
}

footer {

    background-color: brown;
    height: 100px;
    display: flex;
    justify-content: space-between;

}