*{
    margin: 0;
}
header,
footer {

    background-color:brown;
    padding : 20px 50px;

}

body{
    font-family:"manrope",sans-serif;
    font-size: 1em;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(236, 56, 56);
}

nav a {
    margin-left: 30px;
}

nav input{
    width: 525px;
    height: 25px;
}


em{
    border: solid,black,0.5px;
    text-align: center;
}
 
section {
    padding: 115px;
}

h1 {
    font-family:"montserrat",sans-serif;
    font-size: 50px;
    text-align: center;
}

h2,
h3 {
    color: black;
    text-align: center;
}

footer,
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
